<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All food</title>
</head>
<body>
<a href="/food/new">Add new</a>
<hr/>
<div th:each="product : ${food}">
    <a th:href="@{/food/{id}(id=${product.getId()})}" th:text="${product.getName()}">user</a>
</div>

</body>
</html>